<h2 mat-dialog-title>Crear Nuevo Combustible</h2>

<mat-dialog-content>
  <form class="create-fuel">
    <mat-form-field>
      <input  class="create-fuel-input" [(ngModel)]="fuel.description" name="description"  matInput placeholder="Descripcion" value="" required>
    </mat-form-field>

    <mat-select placeholder="Estado" [(ngModel)]="fuel.state" name="state">
      <mat-option *ngFor="let state of [{name: 'Activo'}, {name: 'Inactivo'}]" [value]="state.name" required>
        {{ state.name }}
      </mat-option>
    </mat-select>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="create-fuel-footer">
    <button class="create-fuel" class="mat-raised-button" (click)="save($event)">Aceptar</button>
</mat-dialog-actions>
  