<h2 mat-dialog-title>Eliminar Combustible</h2>

<mat-dialog-content>
  <form class="delete-model">
    <mat-form-field>
      <input  class="delete-model-input" [readonly]="true" [(ngModel)]="model._id" name="code"  matInput placeholder="ID" >
    </mat-form-field>

    <mat-form-field>
      <input  class="delete-model-input" [readonly]="true" [(ngModel)]="model.description" name="description"  matInput placeholder="Descripcion" >
    </mat-form-field>

    <mat-form-field>
      <input  class="delete-model-input" [readonly]="true" [(ngModel)]="model.state" name="state"  matInput placeholder="Estado">
    </mat-form-field>

    <mat-form-field>
      <input class="delete-model-input" [readonly]="true" [ngModel]="model.date | formatDate" name="date"  matInput placeholder="Fecha" >
    </mat-form-field>

    <mat-form-field>
      <input  class="delete-model-input" [readonly]="true" [(ngModel)]="model.employee.name" name="employee"  matInput placeholder="Creado Por" >
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="delete-model-footer">
    <button class="delete-model" class="mat-raised-button" (click)="save($event)">Eliminar</button>
</mat-dialog-actions>
  