.create-customer-input {
    width:100%;
}
form.create-customer mat-form-field {
    width:100%;
}
.create-customer-footer {
    display:flex;
    justify-content: flex-end;
}


button{
    background-color:#01579b;
    color:#fafafa;
    font-weight:bold;
    text-transform: uppercase;
    
}

mat-select {
    margin-top:1em;
    margin-bottom:5px;
}
