<h2 mat-dialog-title>Editar Marca de Vehiculo</h2>

<mat-dialog-content>
  <form class="edit-brand">
    <mat-form-field>
      <input  class="edit-brand-input" [(ngModel)]="brand.description" name="description"  matInput placeholder="Descripcion" value="" required>
    </mat-form-field>

    <mat-select placeholder="Estado" [(ngModel)]="brand.state" name="state">
      <mat-option *ngFor="let state of [{name: 'Activo'}, {name: 'Inactivo'}]" [value]="state.name" required>
        {{ state.name }}
      </mat-option>
    </mat-select>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="edit-brand-footer">
    <button class="edit-brand" class="mat-raised-button" (click)="save($event)">Aceptar</button>
</mat-dialog-actions>
  