mat-toolbar {
    background-color:#01579b!important;
    margin-bottom:3em;
}

.application-brand {
    color:white;
    font-weight: bold;
}

button {
    color:White;
    margin-left:1em;
    font-weight: bold;
    background-color:#01579b;
    
}
::ng-deep .mat-menu-content {
    background-color:#01579b!important;
    display:flex!important;
    flex-direction: column!important;
}
::ng-deep .mat-menu-content button {
    margin:0;
}
.login-form {
    display:flex;
    flex-direction: column;
    width:100%;
}
.login-image {
    height:150px;
    width:150px;
    margin-right:3em;
}
.login-button {
    text-transform: uppercase;
    background-color:#01579b;
    padding: 0;
    margin:0;
}
.login-box {
    display:flex;
    justify-content: center;
    width:60%;
    padding-top:5em;
    padding-bottom:5em;
}
.logout-container{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.end {
    display: flex;
    justify-content: flex-end;
    width:100%;
}