mat-toolbar {
    background-color:#01579b;
    margin-bottom:3em;
}

.application-brand {
    color:white;
    font-weight: bold;
}

button {
    color:White;
    margin-left:1em;
    font-weight: bold;
    
}

button:hover {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.end {
    display: flex;
    justify-content: flex-end;
    width:100%;
}