.delete-brand-input {
    width:100%;
}
form.delete-brand mat-form-field {
    width:100%;
}
.delete-brand-footer {
    display:flex;
    justify-content: flex-end;
}


button{
    background-color:#01579b;
    color:#fafafa;
    font-weight:bold;
    text-transform: uppercase;
    
}